body , html{
	background-image: url("../media/bg.jpg");
	background-repeat: no-repeat; 
  	background-size: cover;
}

#holo{
	text-align: center;
	font-size: 50px;
}
#cardcolor{
	background-color: rgb(160,160,160);
}
.cardi {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    background-color: rgb(160,160,160);
    color: black !important;
    opacity: 0.8;
}

/* Add rounded corners to the top left and the top right corner of the image */
.imgi {
    border-radius: 4px 4px 0 0;
    position: center;
    opacity: 1;
}
.containeri {
    padding: 2px 16px;
}

#texti {
	font-size: 20px;
}

.textcol {
	color: white;
}